
.change-password-wrapper-status {
	display: grid;
	grid-template-rows: auto auto 1fr;
	align-items: start;
}

.change-password-status {
	display: grid;
	grid-template-rows: auto;
	align-items: start;
	padding-top: 10px;
	grid-row-gap: 5px;
}

.change-pwd-header {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.application-header {
	font-weight: bold;
}

.user-name-header {
	font-weight: bold;
}

.status-header {
	font-weight: bold;
}

.change-pwd-data {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.application {
}

.user-name {
}

.status {
}

.submit-button {
	justify-self: end;
}