.entitlements-wrapper {
	display: grid;
	grid-template-rows: auto auto auto 1fr;
}

.entitlement-settings {
	display: grid;
	padding-top: 30px;
	padding-left: 15px;
	padding-bottom: 30px;
}

.heading-entitlement-settings {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	margin-bottom: 10px;
}

.entitlements-wrapper .label-and-input-box {
	margin: 5px;
}