.account-obj-wrapper {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
}

.account-settings {
	display: grid;
	margin-bottom: 30px;
}

.account-settings .label-and-input-box {
	margin: 5px 0px;
}

.drop-down {
	padding-left: 20px;
	padding-right: 260px;
}

.table-header {
	font-weight: bold;
	padding: 5px 0px;
}

.chk-box {
	justify-self: center;
	align-self: center;
}