.summary-wrapper {
	display: grid;
	grid-template-rows: 1fr auto;
	align-items: start;
}

.summary-settings {
	display: grid;
}

.summary-header {
	border-bottom: 1px solid #ced4da;
	margin-bottom: 15px;
}

.summary-settings .label-and-input-box {
	margin: 5px;
}

.managed-objects-list {
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding-left: 20px;
	grid-column-gap: 10px;
	justify-content: start;
	align-content: start;
}

.managed-object {
	background-color: #E9ECEF;
	padding: 2px 8px;
	border: 1px solid #ced4da;
	border-radius: 2px;
	font-size: .875rem;
	line-height: 1.5;
	color: #6b747d;	
}

.save-template {
	@extend %confirm;
	grid-template-columns: 1fr 3fr;
}

.template-name {
	padding-left: 20px;
	padding-right: 300px;
}

.center-chk-box {
	align-self: center;
}